@import url('https://fonts.googleapis.com/css?family=Dosis');

* { padding: 0; margin: 0; }

body {
  background-color: #99bb99;
  animation: fadecolor 4s;
  font-family: 'Dosis', sans-serif;
}

.hero {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h1 {
  font-size: 90px;
  text-align: center;
  /*text-decoration: underline;*/
  text-transform: uppercase;
  line-height: 1.4;
  display: inline-block;
  animation: fadein1 2500ms;
}

.hero .logo {
  margin-top: 35px;
  width: 380px;
  animation: fadein2 2875ms;
}

@media(max-width: 638px) {
  .hero h1 {
    font-size: 60px;
  }

  .hero .logo {
    width: 280px;
  }
}


@keyframes fadein1 {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein2 {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadecolor {
  from { background-color: #fff; }
  to   { opacity: #99bb99; }
}

.definition {
  font-style: italic;
  text-align: center;
  font-size: 45px;
  margin-top: 50px;
  padding: 1em 2em;
  border: 5px solid;
  border-radius: 10px;
}

.content {
  padding: 0 10%;
  animation: fadein2 3s;
}

.rules {
  margin-top: 50px;
  font-size: 45px;
}
