@import url('https://fonts.googleapis.com/css?family=Dosis');

* { padding: 0; margin: 0; }

body {
  background-color: #99bb99;
  animation: fadecolor 4s;
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 60px;
}

.text {
  font-size: 45px;
}

.label {
  text-align: center;
  font-size: 25px;
}

@media(max-width: 638px) {
  h1 {font-size: 60px;}

  h2 {font-size: 40px;}

  .text {font-size: 30px;}
  .label {font-size: 17;}


}

@media(max-width: 405px) {
  h1 {font-size: 47px;}

  h2 {font-size: 30px;}

  .text {font-size: 22px;}
  .label {font-size: 12px;}

}

ul {
  list-style-image: url('./bullet.svg')
}

li {
  margin-left: 30px;
  padding-left: 0.3em;
  padding-bottom: 0.5em;
}


.hero {
  padding: 30px 20px;
  padding-bottom: 0;
}

.hero h1 {
  /*text-decoration: underline;*/
  text-transform: uppercase;
  line-height: 1.4;
  /*display: inline-block;*/
  text-align: center;
  animation: fadein1 2500ms;
}

.hero .logo {
  margin: auto;
  margin-top: 34px;
  width: 380px;
  animation: fadein2 2875ms;
  cursor: pointer;
}

@media(min-width: 638px) {
  .header-container {
    width: 610px;
    margin: auto;
  }
}

@media(max-width: 638px) {
  .hero {
    padding: 10px;
  }

  .hero h1 {
    text-align: center;
  }

  .hero .logo {
    width: 275px;
    margin-top: 35px;
  }
}

@keyframes fadein1 {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein2 {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadecolor {
  from { background-color: #fff; }
  to   { opacity: #99bb99; }
}

.definition {
  font-style: italic;
  text-align: center;
  font-size: 45px;
  margin-top: 50px;
  padding: 1em;
  border: 5px solid;
  border-radius: 10px;
  background-color: #a2b7af;
}

@media(max-width: 740px) {
  .definition {
    font-size: 30px;
    border: 4px solid;
  }
}

@media(max-width: 464px) {
  .definition {
    font-size: 20px;
    border: 0;
    padding: 0;
    background-color: #99bb99;
  }
}

input {
  font-size: 28px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: 300;
  transition: 200ms;
  background-color: #d5dfd5;
  max-width: 70%;
}

input:active,
input:focus {
  background-color: #fff;
}

.easy-buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}


.contract-address {
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 15px;
}

@media(max-width: 1100px) {
  .contract-address {
    font-size: 32px;
  }
}

@media(max-width: 770px) {
  .contract-address {
    font-size: 22px;
  }
}

.content {
  padding: 0 10%;
  animation: fadein2 3s;
}

.faqs {
  margin-top: 50px;
}

.faqs li {
  margin-left: 40px;
}

.faqs p {
  margin-bottom: 30px;
}

.faq-q {
  color: #300513;
}


.divider {
  background-image: url('./border.svg');
  background-repeat: repeat-x;
  height: 15px;
  margin: 60px 0;
}

h2 {
  padding-bottom: 0.3em;
  text-align: center;
}

.description li {
  color: #300513;
}

.cta {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cta-button {
  border: 4px solid;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: underline;
  padding: 0.8em 1em;
  font-size: 40px;
  transition: 200ms;
  color: black;
  display: inline-block;
  background-color: #dad6bb;
}

.cta-button:hover {
  background-color: #300513;
  border-color: #300513;
  color: #99bb99;
}

@media(max-width: 740px) {
  .cta-button {
    font-size: 35px;
  }
}

@media(max-width: 600px) {
  .cta {
    flex-direction: column;
  }

  .cta-button:first-child {
    margin-bottom: 40px;
  }
}
/*
@media(max-width: 464px) {
  .cta-button {
    font-size: 25px;
  }
}*/
*::selection {
  background-color: #000000;
  color: #99bb99;
}
